<ul class="main-navigation">
  <li><a href="{{ root_url }}/">博客</a></li>
  <li><a href="{{ root_url }}/blog/archives">存档</a></li>
  <li><a href="{{ root_url }}/blog/categories/tech">技术</a></li>
  <li><a href="{{ root_url }}/blog/categories/translation">翻译</a></li>
  <li><a href="{{ root_url }}/blog/categories/books">书籍</a></li>
  <li><a href="{{ root_url }}/blog/categories/code">代码</a></li>
  <li><a href="{{ root_url }}/blog/categories/skills">技巧</a></li>
  <li><a href="{{ root_url }}/blog/categories/templates">模板</a></li>
  <li><a href="{{ root_url }}/blog/categories/opensource">开源</a></li>
  <li><a href="{{ root_url }}/blog/categories/project">项目</a></li>
  <li><a href="{{ root_url }}/about.html">关于我</a></li>
</ul>
