<!-- 搜索遮罩框 -->
<div id="searchModal" class="modal">
    <div class="modal-content">
        <div class="search-header">
            <input type="search" id="searchInput" name="s" placeholder="<%= __('searchTip') %>" class="search-input">
        </div>
        <div id="searchResult"></div>
    </div>
</div>
